*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/sonarlint/issuestore/0/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/9/
.idea/sonarlint/issuestore/a/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/f/
app/libs/
